DATABASE_URL="postgresql://username:password@localhost:5432/db_name?schema=public"
JWT_SECRET="your_jwt_secret_key"
NODE_ENV="development"
PORT=3003

# Pakasir Integration Configurations
PAKASIR_PROJECT_SLUG="your_pakasir_project_slug"
PAKASIR_API_KEY="your_pakasir_api_key"
